@font-face {
    font-family: IBMPlexMono;
    src: url("fonts/IBMPlexMono-Regular.ttf");
}

body {
    background-color: #121212;
    color: #fdfdfd;
    font-family: IBMPlexMono, monospace;
    font-size: 1.4em;
}

div {
    margin: auto;
    max-width: 70ch;
}

pre {
    margin 0;
    overflow-x:hidden;
}

a {
    color: #ae81ff;
}
