body {
    background-color: #121111;
    color: #ddddde;

    line-height: 1.6;
    font-family: sans-serif;

    padding: 1em;
    max-width: 42em;
    margin: auto;
}

h1 {
    text-align: center;
}

a {
    color: #ae81ff;
}

a:hover {
    color: #c6a8ff;
    font-style: italic;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    padding: 10px;
    background-color: #232222;
}

.box {
    padding: 10px;
    background-color: #232222;
    border: 3px solid #ddddde;
}

.important {
    padding: 10px;
    background-color: #232222;
    border: 3px solid #ef667b;
}

.re {
    color: #ef667b;
}

.bl {
    color: #66d9ef;
}

.gr {
    color: #90ff75;
}

.ye {
    color: #fffd72;
}

.pu {
    color: #b48bff;
}

.or {
    color: #ffc257
}