@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
    background-color: #04020c;
}

body {
    --txt-color: #efefef;
    --bkg-color: #111111;
    --lnk-color: #cfb4ff;

    background: transparent;
    color: var(--txt-color);

    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.6;

    padding: 1em;
    max-width: 960px;
    margin: auto;
}

body.light-theme {
    --txt-color: #00ffff;
    --bkg-color: #ff0000;
    --lnk-color: #cfb4ff;
}

div {
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--txt-color);
    background-color: var(--bkg-color);

    padding: 15px;
    margin: 15px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0px;
}

a {
    color: var(--lnk-color);
}

a:hover {
    font-style: italic;
}

.pic {
    border-radius: 1000px;
    border-width: 5px;
    border-style: solid;
    border-color: #b48bff;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    border-radius: 0px;
    padding: 10px;
    background-color: #232222;
}

.box {
    border-radius: 0px;
    padding: 13px;
    background-color: #232222;
    border: 2px solid #ddddde;
}

.important {
    border-radius: 0px;
    padding: 13px;
    background-color: #232222;
    border: 2px solid #ef667b;
}

.re {
    color: #ef667b;
}

.bl {
    color: #66d9ef;
}

.gr {
    color: #90ff75;
}

.ye {
    color: #fffd72;
}

.pu {
    color: #b48bff;
}

.or {
    color: #ffc257
}

.bre {
    border-color: #ef667b;
}

.bbl {
    border-color: #66d9ef;
}

.bgr {
    border-color: #90ff75;
}

.bye {
    border-color: #fffd72;
}

.bpu {
    border-color: #b48bff;
}

.bor {
    border-color: #ffc257
}

#logo-pallette {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}